section {
	/* background: rgb(255, 141, 141); */
	height: 90vh;
	/* TODO: FIX THIS WIDTH PROBLEM */
	width: 90%;
	display: grid;
	grid-template-columns: 10% 50% 50%;
	grid-template-rows: 15% 85%;
	grid-template-areas:
		". heading heading"
		"links content image";
}

#heading-container {
	/* background: rgb(255, 141, 217); */
	grid-area: heading;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px;
}
/* #heading-container h1 {
	font-size: 30px;
	font-size: 4vmax;
} */

#links-container {
	/* background: rgb(255, 253, 146); */
	grid-area: links;
	display: flex;
	align-items: flex-end;
	padding: 10px;
	justify-content: center;
}
/* #links-container ul {
	background: rgb(255, 253, 146);
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
} */
#content {
	/* background: rgb(146, 251, 255); */
	grid-area: content;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 30px;
}

ul {
	/* background: rgb(170, 146, 255); */
	height: 40%;
	/* width: 90px; */
	padding: 0 20px;
	border-right: 2px solid var(--purple);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#image-container {
	/* background: rgb(211, 146, 255); */
	grid-area: image;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

#image-container img {
	width: 35vmax;
	height: 35vmax;
	max-width: 700px;
}

img.icon {
	width: 30px;
}
img.icon:hover {
	opacity: 0.9;
}

@media screen and (max-width: 800px) {
	#links-container {
		display: none;
	}
	#image-container,
	#content,
	#heading-container {
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	#content {
		justify-content: space-evenly;
	}

	section {
		height: 120vh;
		width: 100vw;
		grid-template-columns: 1fr;
		grid-template-rows: 10% 35% 55%;
		grid-template-areas:
			" heading"
			" image"
			" content";
	}
}
