#faq-section {
	height: 180vh;
	width: 100vw;
	/* background: rgb(211, 146, 255); */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#content,
#image-container {
	width: 50%;
	height: 100%;
	display: flex;
	padding: 20px;
}

#content {
	width: 50%;
	/* background: rgb(146, 255, 164); */
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
}

#image-container {
	/* background: rgb(186, 255, 146); */
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}

#image-container img {
	width: 40vmax;
	/* height: 45vmax; */
	max-width: 700px;
}

@media screen and (max-width: 800px) {
	#faq-section {
		flex-direction: column-reverse;
		height: 200vh;
	}
	#content,
	#image-container {
		height: 60%;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
	}
	#image-container {
		height: 30%;
		justify-content: center;
	}
}

@media screen and (max-height: 725px) {
	#content {
		height: 100%;
	}
}
