#roadmap-section {
	height: 130vh;
	width: 100vw;
	/* background: rgb(211, 146, 255); */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#content,
#image-container {
	width: 50%;
	height: 100%;
	display: flex;
	padding: 20px;
}

#content {
	/* background: rgb(146, 255, 164); */
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

#image-container {
	/* background: rgb(186, 255, 146); */
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#image-container img {
	width: 45vmax;
	height: 45vmax;
	max-width: 700px;
}

@media screen and (max-width: 800px) {
	#roadmap-section {
		flex-direction: column;
		height: 150vh;
	}
	#content,
	#image-container {
		height: 70%;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
	}
	#image-container {
		height: 30%;
		justify-content: center;
	}
}
