@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Press+Start+2P&display=swap");

:root {
	--f1: "poppins";
	--f2: "press start 2p";
	--w1: 400;
	--w2: 500;
	--w3: 600;
	--red: #ed0505;
	--yellow: #ff9800;
	--primary-black: #1d1d1d;
	--secondary-black: #1a1932;
	--purple: #211835;
	--primary-white: #ffffff;
	--secondary-white: #ededed;
	--text-shadow: -4px 1px 0px rgba(255, 152, 0, 1);
	--outline-left: -3px 0px 0px rgba(237, 5, 5, 1);
	--outline-right: 3px 0px 0px rgba(237, 5, 5, 1);
	--outline-top: 0px -3px 0px rgba(237, 5, 5, 1);
	--outline-bottom: 0px 3px 0px rgba(237, 5, 5, 1);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: var(--f1);
	font-weight: var(--w2);
	list-style: none;
	color: var(--primary-black);
	scroll-behavior: smooth;
}

.shadow-font {
	text-shadow: var(--text-shadow);
	font-family: var(--f2);
}
.outline-font {
	font-family: var(--f2);
	color: var(--yellow);
	text-shadow: var(--outline-right), var(--outline-left), var(--outline-top),
		var(--outline-bottom);
}
.description-font {
	font-size: 22px;
	font-weight: var(--w2);
	color: var(--purple);
}

.heading {
	font-size: 4.4vmax;
}

.sub-heading {
	font-size: 3.5vmax;
}

@media screen and (min-width: 1700px) {
	.heading {
		font-size: 70px;
	}

	.sub-heading {
		font-size: 50px;
	}
}

@media screen and (max-width: 800px) {
	.description-font {
		font-size: 18px;
	}
}
